.head{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    cursor: pointer;
}
.name{
    color: orange;
}
.note{
    color: chocolate;
}
.top{
    margin-left: 50px;
    font-size: xx-large;
    color: rebeccapurple;
}